sudo: required

language: python

python:
  - "3.6"

addons:
  chrome: stable

before_install:
  - sudo apt-get update
  - sudo apt-get install chromium-chromedriver

install:
  - pip install selenium

script:
  - python ./status.py
