sudo: required

language: python

python:
  - "3.6"

addons:
  chrome: stable

#before_install:
#  - sudo apt-get update
#  - sudo apt-get install chromium-chromedriver

install:
  - sudo cp -f ./chromedriver /usr/local/share/
  - sudo chmod +x /usr/local/share/chromedriver
  - sudo ln -s /usr/local/share/chromedriver /usr/local/bin/chromedriver
  - pip install selenium

script:
  - echo $TEST
  - python ./status.py --user $USER --password $PASSWORD --server $SERVER --from $FROM --to $TO --test True
